<div layout="max-width = 90%">
        
    <div id="top" flex="">
            <a [routerLink]="reg">
            <img src="../assets/img/kisspng-msn-computer-icons-portable-n.png" alt="logo" id="home">
            </a>
            <!-- This Area is only for the logo -->
    </div>

</div>
<div layout="row">
    <div  id="left" flex="20">
   <!-- left Element only -->
   <router-outlet  name="m-left"></router-outlet>  
   <app-profile></app-profile>
    </div> 

    <div id="center" flex="70">
    <!-- Center Elements Go here -->
    <router-outlet></router-outlet>  

    </div>
    <div  id="right" flex="" hide-sm="" hide-xs="" >
      <!-- Right Elements Go here 
            SearchBox Only
            -->
        <app-search-bar></app-search-bar>
    </div>
</div>
  