$colr: rgba(125,125,125,0.5);
#home{
    background-color: $colr;
    margin: 4px auto 4px 40%;
    border: 1px outset gray;
    border-radius: 25px;
    &:hover {
        background: darken($colr, 10%);
        
    &:active{
        border: 1px inset gray;
    }
    }
    height: 65px;
    display: inline-block;    
}
#top{
    // background-color:rebeccapurple;
    background-color: #8c8c8c(169, 255, 188,0.2);
    width: 100%;
    // position: fixed;
}
#up{
    position: fixed;
}
#left{
    
    background-color: #23527c(169, 255, 188);
}
#center{
    margin-bottom: 0%;
    padding: 10px;
    height: 100%;
}
#right{
    background-color: #f26925;
}
