
.profile{
padding: 10px;
background-color: gray;
text-align: center;
width: 90%;
margin: auto;
border-radius: 20px;

}
#ppic{
    border-radius: 360px;
    &:hover{
        border-radius: 20px;
     };
    border: 2px groove gray;
    width: 50%;
    alt: url("../../../assets/img/alt.png");
}