
.profile{
padding: 10px;
background-color: gray;
text-align: center;
width: 90%;
margin: auto;
border-radius: 20px;

}
#ppic{
    border-radius: 360px;
    &:hover{
        border-radius: 20px;
     };
    border: 2px groove gray;
    width: 50%;
    alt: url("../../../assets/img/alt.png");
}
.icons{
    color: purple;
    margin-right: 10px;
}
.register-e{
    display:inline-block;
    margin: 5%;
    align-items: center;     
    }
label{
        width: 5em;
        
    }
    .curents{
        color: gray;
        display: inline;
    }


    input[type=text], input[type=password], input[type=date] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        display: inline-block;
        border: none;
        background: #f1f1f1;
      }
      
      input[type=text]:focus, input[type=password]:focus, input[type=date]:focus {
        background-color: #ddd;
        outline: none;
      }
      .divider{
        border-color: gray;
        border-bottom-style: solid;
    }
    .posts{
        list-style: none;
        .post{
           margin: auto;
           padding: 5%;
           width: 80%;
           font-family: 'Patrick Hand', cursive;
           border-color: gray;
           border-style:groove;
           border-radius: 20px;
    
        }
        .likes{
        cursor: pointer;
        width: 10%;
        }
    }