<div  class="profile" (click)="userProf()">
<img  id="ppic" src="{{profpic}}" alt="can you see me" >
<div class="">
<p>{{description}}</p>
</div>
</div>
<br>
<div id="update" *ngIf="onSide()">
        <mat-expansion-panel>
                
                <mat-expansion-panel-header>
                 <em class="material-icons icons">person</em> Update Information
                </mat-expansion-panel-header>
                <form #updt=ngForm (ngSubmit)="updat(updt)">
                        <label  for="email">Current Email:{{email}}</label><br>
                        <label for="email">Email</label>
                        <input  type="text" id="email" placeholder="Email" name="email" ngModel>
                        <br>
                        <label  for="email">Current User Name:{{uname}}</label><br>
                        <label  for="userName">User Name</label>
                        <input  type="text" id="username" placeholder="userName" name="username" ngModel>
                        <br>
                        <label  for="password">Password</label>
                        <input  id="password" type="password" placeholder="secret" name="password" ngModel>
                        <br>
                        <label  for="email">Current Date of Birth:{{bdate}}</label><br>
                        <label  for="date">Date of Birth</label>
                        <input  type="date" id="birthday" name="brithday" min="1818-01-01" ngModel>
                   
                <mat-action-row>            
                  <button mat-button style="margin-right:10%;" type="submit" value="Update"  routerLinkActive="router-link-active" >UPDATE</button>
                </mat-action-row>
                </form>
        </mat-expansion-panel>
                
       

</div>
<br>
<div *ngIf="onSide()">
<app-create-post></app-create-post>
</div>