<div class="divider"></div>


<ul  class="posts" *ngIf="posts">
<li *ngFor ="let post of posts">
<br>
<div class="divider">
<em class="material-icons icons">face</em>
<h2 (click)="navToProf($event)" class="uname more">{{post.description}}</h2>
<br>
<em class="material-icons icons">access_time</em>
<h3 class="time">{{ getTime(post.time)}}</h3>
<br>
<div class="post" [routerLink]="['/main-feed']">
    {{post.post}}
</div>
<br>


<em class="material-icons icons likes" (click)="like()">thumb_up</em><span>{{post.likes}}    </span>
<br><br>
<mat-expansion-panel>
        <mat-expansion-panel-header>
          Comments
        </mat-expansion-panel-header>
      
       <ul *ngIf="post.comments">
          <li *ngFor ="let comment of post.comments">
       </ul> 
       <form #comm="ngForm" (ngSubmit)="comments(comm)">
       <br>     
       <textarea rows="4" style="width: 90%;resize: none;"></textarea>
       <br>  
        <mat-action-row>            
          <button mat-button style="margin-right:10%;" type="submit">Comment</button>
        </mat-action-row>
       </form>
</mat-expansion-panel>
<br><br>
</div>
</li>
</ul>
<br>
<!-- <div class="divider"></div> -->
