<div id="register">
    <h1>Welcome To The Family</h1>
<form>
<label class="register-e" for="userName">User Name</label>
<input class="register-e" type="text" id="userName" placeholder="userName" name="social_username">
<br>
<label class="register-e" for="email">Email</label>
<input class="register-e" type="text" id="email" placeholder="Email" name="social_email">
<br>
<label class="register-e" for="password">Password</label>
<input class="register-e" id="password" type="password" placeholder="secret" name="social_password">
<br>
<label class="register-e" for="date">Date of Birth</label>
<input class="register-e" type="date" id="date" name="social_birthday" min="1818-01-01" >
<br>
<input class="register-e" type="submit" value="REGISTER">



