
<div id="register" >
    <h1>Create An Account</h1>
    <strong style= "color:red;">Fill out this form to create an account</strong>
    <form #regi=ngForm (ngSubmit)="registration(regi)">
        <br>
        <hr>
        <br>
        <div class="container" class="h1">
            <label for="userName">Email</label>
            <input type="text" id="email" placeholder="Email" name="email" ngModel>
            <br>
            <label for="username">Username</label>
            <input type="text" id="username" placeholder="username" name="username" ngModel>
            <br>
            <label for="password">Password</label>
            <input id="password" type="password" placeholder="password" name="password" ngModel>
            <br>
            <label for="date">Date of Birth</label>
            <input type="date" id="brithday" name="brithday" min="1818-01-01" ngModel>
            <br>
            <button class= "registerbutton" type="submit" value="REGISTER"> Register </button>
        </div>

 
