<h1>Welcome!</h1>

<h3>Please Log In</h3>

<div><form #loginf="ngForm" (ngSubmit)="login(loginf)">
    <label class="login-e" for="username">Username</label>
    <input class="login-e" type="text" placeholder="Username" name="username" ngModel/>
    <br>
    <label class="login-e" for="password">Password</label>
    <input class="login-e" type="password" placeholder="Password" name="password" ngModel/>
    <br>
    <input class="login-e" type="submit" name="login" value="LOG IN"/>
<h4>Don't have an account?</h4>
<a  routerLink="/reg" ><button>Register</button></a>