.login-e{
    font-size: 1em;
    display:inline-block;
    margin: 5%;
    align-items: center;
    }
    $reg : rgba(255, 255, 255, 0.452);
    #login{
        margin: auto;
        width: 40%;
        padding:5%;
        background-color: $reg ;    
    
    }
    label{
        width: 2em;
    }
    