<h1>Login</h1>

<strong style="color:red;">Join in on the networking!</strong>
<hr>
<div>
    <form #loginf="ngForm" (ngSubmit)="login(loginf)">
        <label for="username">Username</label>
        <input type="text" placeholder="Username" name="username" ngModel />
        <br>
        <label for="password">Password</label>
        <input type="password" placeholder="Password" name="password" ngModel />
        <br>
        <button class="registerbutton" type="submit" name="login" value="LOG IN">Login</button>
    </form>
    <hr>



    <div class="littlebox">
        <p>Don't have an account? <a href="#" routerLink="/reg">Create An Account</a></p>
    </div>
</div>
